#header {
    height: 30px;
    width: 800px;
    background-color: #0293fe;
    border: 3px black solid;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.left {
    padding: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 3px black solid;
    border-radius: 5px;
    background-color: #0293fe;
    height: 100px;
    width: 100px;
    float: right;
    z-index: 2;
}

.right {
    margin-top: 50px;
    margin-bottom: 10px;
    clear: right;
    float: right;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 3;
}

#footer {
    height: 30px;
    width: 800px;
    background-color: #0293fe;
    border: 3px black solid;
    border-radius: 5px;
    font-family: Verdana;
    font-size: 12px;
    text-align: right;
    clear: both;
    float: right;
    
}

* {
    font-family: Verdana;
}
